<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>You are Logged In </h1>
    <h3>Welcome {{name}}</h3>
    {% if users != None %}
     <h3>List Of Users</h3>
     {% for user in users %}
      <a href="{% url 'userdetail' user.id %}">{{user.username}}</a><br><br>
     {%endfor %}
    {% endif %}
    {% if messages %}
     {% for message in messages %}
      <small {% if message.tags %} class="{{message.tags}}" {% endif %}>
      {{message}}</small>
      {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}} 
        <input type='submit' value='Save'>          
    </form>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'changepass' %}">Change Password</a>
    <a href="{% url 'changepass1' %}">Change Password 1</a>

</body>
</html>